*{
    background-color: black;
}
.btnClick{
    height: 140px;
    width: 140px;
    background-color: rgb(13, 2, 51);
    border-radius: 20px;
}
.background{
    margin-top: 50px;
}
.txtGameName{
    color: #fff;
    margin-top: 0;
    padding-left: 40%;
    font-size: 60px;
}