.container{
    text-align: center;
}
.title{
    margin-top: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title span{
    color: #26ffcb;
    padding-left: 20px;
}
.btnRestart{
    width: 150px;
    height: 75px;
    border: none;
    color: #26ffcb;
    font-size: 25px;
    border-radius: 50px;
    font-weight: bold;
    background-color:rgb(2, 2, 38)
}
.boxes{
    background-color:rgb(2, 2, 38) ;
    border: solid 2px black;
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 10px;
}

.board{
    height: 490px;
    width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}

